.carroussel {
  background-image: url(../images/fond_beige.jpg);
  position: relative;
  border: solid green 3px;
  border-radius: 20px;
  overflow: hidden;
}
  .carroussel__img {
    display: flex;
    flex-direction: row;
  }

  .carroussel__img__slide {
    border: solid rgb(19, 213, 58) 4px;
    border-radius: 20px;
  }
  
  .prev,
  .next,
  .stop {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    color: #fff;
    background-color: rgba(21, 87, 240, 0.2);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: rgba(21, 87, 240, 0.2);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .stop {
    bottom: 0;
    right: 50%;
    transform: translate(50%, -50%);
  }

  @media screen and (max-width: 750px)  {
    .carroussel {
      width: 95%;
      height: 400px;
      margin: 0 auto;
    }
    .carroussel__img {
      width: 90%;
      height: 300px;
      margin: 0 auto;
    }
    .carroussel__img__slide {
      margin-right: 1rem;
      width: 80%;
      height: 300px;
    }
  }

  @media screen and (min-width: 751px) and (max-width: 1400px) {
    .carroussel {
      width: 80%;
      height: 500px;
      margin: 0 auto;
    }
    .carroussel__img {
      width: 100%;
      height: 400px;
      margin: 2rem auto;
    }
    .carroussel__img__slide {
      margin-right: 2rem;
      width: 100%;
      height: 400px;
    }
  }

  @media screen and (min-width: 1401px) {
    .carroussel {
      width: 70%;
      height: 700px;
      margin: 0 auto;
    }
    .carroussel__img {
      width: 100%;
      height: 600px;
      margin: 2rem auto;
    }
    .carroussel__img__slide img {
      margin-right: 3rem;
      width: 300px;
      height: 500px;
    }
  }
  
