.carroussel {
  background-image: url(../images/fond_beige.jpg);
  position: relative;
  border: solid green 3px;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
  .carroussel__img {
    display: flex;
    flex-direction: row;
  }

  .carroussel__img__slide {
    border: solid rgb(19, 213, 58) 4px;
    border-radius: 20px;
    margin-right: 1rem;
    width: 600px;
    height: 400px;
  }


  .prev,
  .next,
  .stop {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    color: #fff;
    background-color: rgba(21, 87, 240, 0.2);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: rgba(21, 87, 240, 0.2);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .stop {
    bottom: 0;
    right: 50%;
    transform: translate(50%, -50%);
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .carroussel {
      gap: 3rem;
    }

    .carroussel__img {
      width: 90%;
      margin: 2rem auto;
    }

    .carroussel__img__slide {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 1440px) {
    .carroussel {
      width: 60%;
    }

    .carroussel {
      gap: 3rem;
    }

    .carroussel__img {
      width: 90%;
      margin: 2rem auto;
    }

    .carroussel__img__slide img {
      width: 100%;
      height: auto;
    }
  }
