<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/carroussel.js"
    <script src="/index.js" defer="true"></script>
    <title>template éxperimental la planete et ce que l'on-y trouve</title>
</head>

<body class="body">
    <header role="banner" class="header">
        <nav role="navigation" class="dropdown">
            <button class="dropdown-toggle">Menu</button>
            <ul class="dropdown-menu" aria-label="menu principal">
                <li class="nav__a"><a href="./">Accueil</a></li>
                <li class="nav__aa"><a href="./a-propos">A Propos</a></li>
                <li class="nav__a"><a href="./nos-services">Nos Services</a></li>
                <li class="nav__aa"><a href="./les-promos">Les Promos</a></li>
                <li class="nav__a"><a href="./mon-compte"><i class="fa fa-solid fa-tree"></i> Mon Compte</a></li>
                <li class="nav__aa"><a href="./contact"><i class="fa fa-envelope"></i> Contact</a></li>
                <li class="nav__a"><a href="./plan-du-site">Plan Su Site</a></li>
            </ul>
        </nav>
    </header>