
.section__article__preambule{
    background-color: rgb(248, 230, 224);
    border: solid black 2px;
    border-radius: 10px;
    margin: .5rem auto;
    padding: 1rem 1rem;
    width: 90%;
}

.section__aside__espaces-vert{
    background-color: rgb(251, 213, 201);
    display: flex;
    flex-direction: column;
    border: solid gray 2px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
    .section__aside__espaces-vert__img{
        background-image: url(../images/fond_vet.jpg);
        background-size: cover;
        background-position: center;
        border: solid gray 2px;
        border-radius: 10px;
        width: 90%;
        height: 10rem;
        margin: .5rem auto;
    }

    // ...........................................................................

.section__aside__montagne{
    background-color: rgb(251, 213, 201);
    display: flex;
    flex-direction: column;
    border: solid gray 2px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
    .section__aside__montagne__img{
        background-image: url(../images/La-montagne.jpg);
        background-size: cover;
        background-position: center;
        border: solid gray 2px;
        border-radius: 10px;
        width: 90%;
        height: 10rem;
        margin: .5rem auto;
    }
    // .............................................................................

.section__aside__mer{
    background-color: rgb(251, 213, 201);
    display: flex;
    flex-direction: column;
    border: solid gray 2px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
    .section__aside__mer__img{
        background-image: url(../images/la-mer.jpg);
        background-size: cover;
        background-position: center;
        border: solid gray 2px;
        border-radius: 10px;
        width: 90%;
        height: 10rem;
        margin: .5rem auto;
        
    }

    
    // ...............................................................................


    .section__aside__text__div{
    background-color: rgb(227, 218, 205);
    border: solid gray 2px;
    border-radius: 10px;
    width: 90%;
    margin: .5rem auto;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    
}

.section__aside__div__titleone{
    background-color: rgb(227, 223, 223) ;
    width: 90%;
    border: solid rgb(84, 77, 77) 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
    margin: 0rem auto;
}

.section__aside__div__title{
    background-color: rgb(227, 223, 223) ;
    width: 90%;
    border: solid rgb(84, 77, 77) 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    margin: 0rem auto;
}
