.carousel {
    position: relative;
    width: 30%;
    
    margin: 0 auto;
    overflow: hidden;
  
    .slides {
      display: flex;
      flex-wrap: nowrap;
      transition: transform 0.5s ease;
  
      .slide {
        width: 100%;
        margin-right: 20px;
        transition: opacity 0.5s ease;
  
        &.active {
          opacity: 1;
        }
  
        img {
          width: 500px;
          height: 400px;
        }
      }
    }
  
    .prev-button,
    .next-button,
    .stop-button {
      position: absolute;
      top: 95%;
      transform: translateY(-50%);
      font-size: 24px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.2s ease;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  
    .prev-button {
      left: 0;
    }
  
    .next-button {
      right: 0;
    }
  
    .stop-button {
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  