.header{
    background-image: url(../images/fond_clair.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 20px;
    width: 95%;
    height: 7rem;
    margin: 1rem auto;
}
.dropdown{
    position: relative;
    display: inline-block;
    background-color: rgb(37, 217, 37);
    color: white;
    width: 14rem;
    height: 5rem;
    font-size: 1.4rem;
    border: solid white 4px;
    border-radius: 10px;
    
}
.dropdown-toggle{
    background-color: rgb(37, 217, 37);
    color: white;
    border: solid white 4px ;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: .2rem;
    width: 8rem;
    height: 3rem;
    margin: 1rem 2.75rem 1rem 2.75rem;
    cursor: pointer;
}
.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu li {
    display: block;
    background-color: rgb(37, 217, 37);
    width: 12rem;
    border: solid black 2px;
    border-radius: 10px;
    margin: 1rem auto;
    color: white;
    
}

.nav__a{
    display: flex; 
    background-color: rgb(37, 217, 37);
    color: white;
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    border: solid white 4px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}