//.........................DEVELOPPEMENT EN FIRST-MOBILE........................

// gestion des article écrans intermediares
@media screen and (min-width: 768px) and (max-width:1024px){
    .section__article{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

// gestion des article écrans medium...........................................................................................................................................
@media screen and (min-width: 1024px) and (max-width:1440px){
    .section__article{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

// gestion des article ecrans large...........................................................................................................................................
@media screen and (min-width: 1440px) and (max-width:2000px){
    .section__article{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

// gestion des écrans intrmédiaires ..............................................................................................................................
@media screen and (min-width: 768px) and (max-width:1024px){
    .section__aside__espaces-vert{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .section__aside__montagne{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}
    
@media screen and (min-width: 768px) and (max-width:1024px){
    .section__aside__mer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}


// gestion des écrans medium ....................................................................................................................................
@media screen and (min-width: 1024px) and (max-width:1440px){
    .section__aside__espaces-vert{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1440px){
    .section__aside__montagne{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}
    
@media screen and (min-width: 1024px) and (max-width:1440px){
    .section__aside__mer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

// gestion des écrans larges......................................................................................................................................
@media screen and (min-width: 1440px) and (max-width:2000px){
    .section__aside__espaces-vert{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        width: 33%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

@media screen and (min-width: 1440px) and (max-width:2000px){
    .section__aside__montagne{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        width: 33%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}
    
@media screen and (min-width: 1440px) and (max-width:2000px){
    .section__aside__mer{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        width: 33%;
        margin: 0rem auto;
        border-bottom: solid gray 3px;
    }
}

// gestion des écrans pour le formulaire.........................................................................................................................
@media screen and (min-width: 768px) and (max-width:1024px){
    .formulaire__encadrer{
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.2rem;
    color: blue;
    }
}

@media screen and (min-width: 1024px) and (max-width:1440px){
    .formulaire__encadrer{
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.2rem;
    color: blue;
}
}

@media screen and (min-width: 1440px) and (max-width:2000px){
    .formulaire__encadrer{
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.2rem;
    color: blue;
}
}
