
.section__article__preambule{
    background-color: antiquewhite;
    border: solid gray 2px;
    border-radius: 10px;
    width:100%;
    margin: .5rem auto;
    padding: 1rem;
    font-size: 1.4rem;

}
.section{
    width: 100%;
    margin: 1rem auto;
}
.sirene__bleu{
    border: solid greenyellow 5px;
    border-radius: 15px;
    width: 60%;
    margin: 1rem 15rem 1rem 15rem;
}

@media screen and (max-width:1023px) {
    .sirene__bleu{
    border: solid greenyellow 5px;
    border-radius: 15px;
    width: 60%;
    margin: 1rem 6rem 1rem 6rem;
}
}

@media screen and (max-width:1024px) and (max-width:1400px) {
    .sirene__bleu{
    border: solid greenyellow 5px;
    border-radius: 15px;
    width: 60%;
    margin: 1rem 7rem 1rem 7rem;
}
}