<%- include('partials/header') %>

    <main role="main" class="main">
        <section class="main__section">
            <div class="div__section">
                <div class="div__section__banierre">
                    <h1> la planete et ce que l'on-y trouve</h1>
                </div>
            </div>
        </section>
        <section class="section">
            <p class="section__article__preambule">C'est pour bientot le contenue</p>
            <article class="section__article">
                <aside class="section__aside">
                    <div class="section__aside__div">
                        <h2 class="section__aside__div__title">les espaces verts</h2>
                    </div>
                    <p class="section__aside__div__text">C'est pour bientot</p>
                </aside>

                <aside class="section__aside2">
                    <div class="section__aside__div2">
                        <h2 class="section__aside__div__title">les montagnes</h2>
                    </div>
                    <p class="section__aside__div__text">C'est pour bientot</p>
                </aside>
                <aside class="section__aside3">
                    <div class="section__aside__div3">
                        <h2 class="section__aside__div__title">les mer et les Oceans</h2>
                    </div>
                    <p class="section__aside__div__text">C'est pour bientot</p>
                </aside>
            </article>
            <article>
                <aside></aside>
                <aside></aside>
                <aside></aside>
            </article>
        </section>
    </main>

    <%- include('partials/footer') %>