<%- include('partials/header') %>

    <main role="main" class="main">
        <section class="main__section">
            <div class="div__section">
                <div class="div__section__banierre">
                    <h1> la planete et ce que l'on-y trouve</h1>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__img">

            </div>
            <div class="section__article__preambule">
                <h1 class="section__aside__div__titleone">La Planète Bleue : Un Écosystème Vivant en Harmonie</h1>
                <p class="section__aside__text__div">La Planète Bleue, notre magnifique foyer, est un écosystème
                    vivant
                    en harmonie où se mêlent
                    majestueusement les océans étendus, les sommets vertigineux des montagnes et les espaces verts
                    luxuriants. Chaque élément de cette incroyable planète offre un environnement unique abritant
                    une
                    biodiversité exceptionnelle.</p>

                <h2 class="section__aside__div__title">Les Espaces Verts : Les Joyaux de la Nature</h2>
                <p class="section__aside__text__div">Les espaces verts, tels que les forêts, les prairies et les
                    parcs,
                    sont les poumons de notre planète.
                    Ils abritent une incroyable diversité d'espèces végétales et animales, et jouent un rôle crucial
                    dans l'équilibre écologique. Ces vastes étendues verdoyantes offrent également des habitats
                    naturels, des sites de randonnée et de détente pour les amoureux de la nature.</p>

                <p class="section__aside__text__div">Dans les forêts tropicales, des arbres majestueux atteignent
                    les
                    cieux et créent un écosystème dense
                    où des milliers d'espèces coexistent. Les prairies vastes et ondulantes offrent des pâturages
                    nourriciers pour une multitude d'animaux sauvages. Les parcs naturels préservent des écosystèmes
                    fragiles, offrant un refuge à des espèces menacées et offrant aux visiteurs une chance de se
                    reconnecter avec la nature.</p>

                <h2 class="section__aside__div__title">Les Montagnes : Des Sommets Majestueux</h2>
                <p class="section__aside__text__div">Les montagnes, avec leurs sommets enneigés et leurs versants
                    rocheux, sont de véritables symboles de
                    grandeur et de beauté. Elles abritent une biodiversité unique et offrent des paysages
                    spectaculaires. Les montagnes sont également d'importantes sources d'eau douce, alimentant les
                    rivières et les vallées en aval.</p>

                <p class="section__aside__text__div">Découvrez les sommets majestueux des montagnes qui se perdent
                    dans
                    les nuages, offrant des vues
                    panoramiques à couper le souffle. Les flores et faunes montagnardes sont adaptées à des
                    conditions
                    extrêmes, créant un équilibre fragile au sommet de ces formations géologiques impressionnantes.
                    Les
                    montagnes sont aussi des destinations prisées pour les passionnés de sports de plein air,
                    offrant
                    des opportunités d'escalade, de randonnée et de ski.</p>

                <h2 class="section__aside__div__title">Les Océans : Des Mondes Sous-Marins Mystérieux</h2>
                <p class="section__aside__text__div">Les océans, avec leurs profondeurs insondables, sont les
                    gardiens
                    d'une diversité marine incroyable.
                    Des récifs coralliens colorés abritent des écosystèmes complexes où des milliers d'espèces
                    marines
                    coexistent. Les océans sont essentiels à la vie sur Terre, régulant le climat, produisant de
                    l'oxygène et fournissant des ressources alimentaires.</p>

                <p class="section__aside__text__div">Explorez les merveilles sous-marines des océans, des créatures
                    exotiques nageant parmi les coraux aux
                    mystérieuses créatures des abysses. Les océans sont les gardiens de trésors marins tels que les
                    poissons migrateurs, les tortues marines et les baleines majestueuses. Ils offrent également
                    d'innombrables opportunités pour les activités récréatives telles que la plongée sous-marine, la
                    voile et la pêche.</p>
            </div>



            <article class="section__article">
                <aside class="section__aside__espaces-vert">
                    <div class="section__aside__espaces-vert__img">
                        <h2 class="section__aside__div__title">Les Espaces Verts : Les Joyaux de la Nature</h2>
                    </div>
                    <p class="section__aside__text__div">Les espaces verts, tels que les forêts, les prairies et les
                        parcs, sont les poumons de notre planète. Ils abritent une incroyable diversité d'espèces
                        végétales et animales, et jouent un rôle crucial dans l'équilibre écologique. Ces vastes
                        étendues verdoyantes offrent également des habitats naturels, des sites de randonnée et de
                        détente pour les amoureux de la nature.</p>

                    <p class="section__aside__text__div">Dans les forêts tropicales, des arbres majestueux
                        atteignent
                        les cieux et créent un écosystème dense où des milliers d'espèces coexistent. Les prairies
                        verdoyantes s'étendent à perte de vue, offrant des pâturages nourriciers pour une multitude
                        d'animaux sauvages. Les parcs naturels préservent des écosystèmes fragiles, offrant un
                        refuge à
                        des espèces menacées et offrant aux visiteurs une chance de se reconnecter avec la nature.
                    </p>

                    <p class="section__aside__text__div">Explorez la beauté des espaces verts qui embellissent notre
                        planète. Les forêts tropicales abritent une richesse incroyable de biodiversité, avec des
                        milliers d'espèces de plantes, d'oiseaux, de mammifères et d'insectes. Les prairies
                        luxuriantes
                        offrent des paysages sereins parsemés de fleurs colorées et d'herbes ondulantes. Les parcs
                        nationaux préservent des écosystèmes uniques, offrant une fenêtre sur la nature sauvage et
                        une
                        occasion d'observer des animaux dans leur habitat naturel.</p>

                </aside>

                <aside class="section__aside__montagne">
                    <div class="section__aside__montagne__img">
                        <h2 class="section__aside__div__title">Les Montagnes : Des Sommets Majestueux</h2>
                    </div>
                    <p class="section__aside__text__div">Les montagnes, avec leurs sommets enneigés et leurs
                        versants
                        rocheux, sont de véritables symboles de grandeur et de beauté. Elles abritent une
                        biodiversité
                        unique et offrent des paysages spectaculaires. Les montagnes sont également d'importantes
                        sources d'eau douce, alimentant les rivières et les vallées en aval.</p>

                    <p class="section__aside__text__div">Découvrez les sommets majestueux des montagnes qui se
                        perdent
                        dans les nuages, offrant des vues panoramiques à couper le souffle. Les flores et faunes
                        montagnardes sont adaptées à des conditions extrêmes, créant un équilibre fragile au sommet
                        de
                        ces formations géologiques impressionnantes. Les montagnes offrent également une multitude
                        d'activités de plein air, telles que la randonnée, l'escalade, le ski et le VTT, permettant
                        aux
                        amateurs d'aventure de se connecter avec la nature dans toute sa splendeur.</p>

                    <p class="section__aside__text__div">Les montagnes abritent une incroyable diversité de vie. Des
                        oiseaux majestueux survolent les sommets, des chèvres de montagne grimpent avec agilité sur
                        les
                        parois rocheuses et des marmottes jouent dans les prairies alpines. Les montagnes sont
                        également
                        des réservoirs d'eau douce, alimentant les rivières et les lacs en contrebas. Leurs cascades
                        impressionnantes offrent des panoramas pittoresques et contribuent à la richesse des
                        écosystèmes
                        en aval.</p>

                </aside>
                <aside class="section__aside__mer">
                    <div class="section__aside__mer__img">
                        <h2 class="section__aside__div__title">Les Océans : Des Mondes Sous-Marins Mystérieux</h2>
                    </div>
                    <p class="section__aside__text__div">Les océans, avec leurs profondeurs insondables, sont les
                        gardiens d'une diversité marine incroyable. Des récifs coralliens colorés abritent des
                        écosystèmes complexes où des milliers d'espèces marines coexistent. Les océans sont
                        essentiels à
                        la vie sur Terre, régulant le climat, produisant de l'oxygène et fournissant des ressources
                        alimentaires.</p>

                    <p class="section__aside__text__div">Explorez les merveilles sous-marines des océans, des
                        créatures
                        exotiques nageant parmi les coraux aux mystérieuses créatures des abysses. Les océans sont
                        les
                        gardiens de trésors marins tels que les poissons migrateurs, les tortues marines, les
                        dauphins
                        et les baleines majestueuses. Les récifs coralliens sont des écosystèmes riches en
                        biodiversité,
                        abritant une myriade d'espèces de poissons colorés et fournissant un habitat vital pour de
                        nombreux organismes marins.</p>

                    <p class="section__aside__text__div">Les océans sont également une source de fascination et de
                        découverte pour les scientifiques et les explorateurs. Des expéditions sous-marines révèlent
                        régulièrement de nouvelles espèces et des paysages marins à couper le souffle. Les activités
                        maritimes telles que la pêche, la navigation de plaisance et la plongée sous-marine
                        permettent
                        aux gens d'apprécier la beauté et la générosité des océans, tout en soulignant l'importance
                        de
                        les protéger et de les préserver pour les générations futures.</p>

                </aside>
            </article>
            <article>
                <div class="carousel">
                    <div class="slides">
                      <div class="slide">
                        <img src="./images/la-mer.jpg" alt="Slide 1">
                      </div>
                      <div class="slide">
                        <img src="./images/fond_vet.jpg" alt="Slide 2">
                      </div>
                      <div class="slide">
                        <img src="./images/la-mer.jpg" alt="Slide 3">
                      </div>
                      <div class="slide">
                        <img src="./images/La-montagne.jpg" alt="Slide 4">
                      </div>
                    </div>
                    <button class="prev-button">Prev</button>
                    <button class="next-button">Next</button>
                    <button class="stop-button">Stop</button>
                  </div>
            </article>
        </section>
    </main>

    <%- include('partials/footer') %>