<%- include('partials/header') %>

<main role="main" class="main">
    <section class="main__section">
        <div class="div__section">
            <div class="div__section__banierre">
                <h1> la planete et ce que l'on-y trouve</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <p class="section__article__preambule">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
            explicabo cum aliquam facilis a ipsa! Perferendis delectus quisquam facilis. Labore officia adipisci
            non! Atque odio similique quo consequuntur odit dolor recusandae non beatae, quos vero fugit officiis
            quae esse ipsa omnis aperiam dignissimos modi. Voluptate, quisquam. Eligendi et commodi earum.</p>
        <article class="section__article">
            <aside class="section__aside">
                <div class="section__aside__div">
                    <h2 class="section__aside__div__title">les espaces verts</h2>
                </div>
                <p class="section__aside__div__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                    quam ut voluptates ad adipisci consectetur nulla blanditiis dolorum, exercitationem obcaecati
                    aliquam quod deleniti quos similique?</p>
            </aside>

            <aside class="section__aside2">
                <div class="section__aside__div2">
                    <h2 class="section__aside__div__title">les montagnes</h2>
                </div>
                <p class="section__aside__div__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                    quam ut voluptates ad adipisci consectetur nulla blanditiis dolorum, exercitationem obcaecati
                    aliquam quod deleniti quos similique?</p>
            </aside>
            <aside class="section__aside3">
                <div class="section__aside__div3">
                    <h2 class="section__aside__div__title">les mer et les Oceans</h2>
                </div>
                <p class="section__aside__div__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                    quam ut voluptates ad adipisci consectetur nulla blanditiis dolorum, exercitationem obcaecati
                    aliquam quod deleniti quos similique?</p>
            </aside>
        </article>
        <article>
            <aside></aside>
            <aside></aside>
            <aside></aside>
        </article>
    </section>
</main>

<%- include('partials/footer') %>