<%- include('partials/header') %>

<main>
    <h2>Plan du site</h2>
    <nav>
        <ol>
            <li><a href="./index.html">Accueil</a></li>
            <li><a href="./a-propos.html">À propos</a></li>
            <li><a href="./nos-services.html">Services</a>
                <ul>
                    <li><a href="./nos-services.html">Service 1</a></li>
                    <li><a href="./nos-services.html">Service 2</a></li>
                    <li><a href="./nos-services.html">Service 3</a></li>
                </ul>
            </li>
            <li><a href="./les-promos.html">Les Promos</a></li>
            <li><a href="./mon-compte.html">Mon compte</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ol>
    </nav>
</main>

<%- include('partials/footer') %>