<%- include('partials/header') %>

<main>
    <div class="plan__du__site">
        <h2 class="title">Plan du site</h2>
        <nav>
            <ol class="list">
                <li class="list__li"><a href="./">Accueil</a></li>
                <li class="list__li"><a href="./a-propos">À propos</a></li>
                <li class="list__2">
                    <a class="list__li" href="./nos-services">Services</a>
                    <ol> <!-- La deuxième liste est contenue dans un élément <li> -->
                        <li class="list__li"><a href="./nos-services1">Service 1</a></li>
                        <li class="list__li"><a href="./nos-services2">Service 2</a></li>
                        <li class="list__li"><a href="./nos-services3">Service 3</a></li>
                    </ol>
                </li>
                <li class="list__li"><a href="./les-promos">Les Promos</a></li>
                <li class="list__li"><a href="./mon-compte">Mon compte</a></li>
                <li class="list__li"><a href="./contact">Contact</a></li>
            </ol>
        </nav>
    </div>
</main>


    <%- include('partials/footer') %>